/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Oct, 2023, 7:51:29 PM
    Author     : abc
*/
*{
    margin:0px;
    padding:0px;
}
.bgimage{
   background-image: url(../images/bg1.jpg);
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
    //animation: changeImage 90s linear infinite;
}
   @keyframes changeImage{
    0%{
         background-image: url(../images/bg.png);
    }
    35%{
         background-image: url(../images/bg1.jpg);
    }
    70%{
         background-image: url(../images/b2.jpg);
    }
    }

.menu{
    width: 100%;
    height: 100px;
   // background-color: rgba(0,0,0,0.5);
}
.leftmenu{
   width:25%;
   line-height: 100px;
   float: left;
   background-color: white;
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: black;
    font-size: 22px;
}
.rightmenu{
    width: 75%;
    height: 100px;
    float: right;
    background-color: red;
}
.rightmenu ul li{
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 70px;
    
}
.rightmenu ul li:hover{
    color: black;
}
.rightmenu ul li a{
    color: white;
}
.container{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px
}
.row{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.about-img{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}
.about-img img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-img:hover img{
    transform: scale(1.2);
}
.about-text{
    flex: 1;
}
.about-text h1{
    font-size: 45px;
    margin-bottom: 15px;
    line-height: 1.5;
    color:#333;
}
.about-text p{
    font-size: 18px;
    line-height: 1.5;
    color:#666;
}
/** about **/

.products h1{
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    align-items:center;
    margin: 60px 0;
}
.product{
    width:30%;
    margin:15px;
    box-sizing: border-box;
    float:left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.23);
    transition: .4S;

}
.product:hover{
     box-shadow: 0 3px 6px rgba(0,0,0,0.16),
        0 3px 6px rgba(0,0,0,0.23);
     transform: translate(0px, -8px);
  
}
.product img{
    width: 200px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
    
}
.title h1{
    text-align: center;
    padding: 10px;
    font-size: 42px;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-item:center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: pink;
    border-radius: 10px;
    cursor: pointer;
        
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.copyright {
     background: #fff;
     padding: 20px 0px 20px 0;
     margin-top: 50px;
}
.copyright p {
     color: #000;
     font-size: 16px;
     text-align: center;
     text-align: center;
     margin: 0 auto;
}
.copyright a {
     color: #000;
}
.copyright a:hover {
     color: #ff0000;
}
.form{
    padding-top: 30px;
    
    text-align:center;
}
